p {
  margin: 0;
}

html {
  height: 100%;
}
body {
  background: linear-gradient(to right, #7b89f0, #7871db);
  display: flex;
  justify-content: center;
  gap: 19px;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
}

main {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0 0 0 / .3);
  width: min(80vw, 1200px);
  min-height: 92vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
}

.main-image {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}

img {
  width: 100%;
}

.disclaimer-content {
  padding: 0 20px;
}

em {
  font-weight: 700;
}

h1 {
  color: #7871db;
  text-transform: uppercase;
  font-weight: 700;
}

.disclaimer-message.first {
  color: #444;
}

.disclaimer-message.second {
  color: #777;
}

.signup-content {
  width: 60%;
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 650px;
}


form {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.campo {
  display:flex;
  flex-direction: column;
  width: 45%;
  flex-grow: 1;
}

.campo > label {
  font-weight: 700;
  color: #000a;
}

.campo > input {
  border: 2px solid #ccc;
  background-color: transparent;
  border-radius: 9px;
  padding: 8px;
  width: 100%;
}


input:valid:not(.confirm),
input[data-status="valid"]:not(:placeholder-shown) {
  border: 2px solid #65d35fdd;
  outline: none;
}

input:invalid:not(:placeholder-shown):not(.confirm),
input[data-status="invalid"]:not(:placeholder-shown) {
  border: 2px solid rgba(255, 0, 0, 0.7);
  outline: none;
}

input:focus {
  border: 2px solid #7873dddd !important;
  outline: none;
}

.campos {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 8px;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}

button {
  background-color: #7871db;
  border: 2px solid #7871db;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: #fff;
  font-weight: 700;
}

button:hover{
  color: #7871db;
  position: relative;
  background-color: #fff;
  border: 2px solid #7871db;
}

.call-action > .login {
  color: #000a;
}

.login > a {
  color: #009cb2;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer > a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.icon {
  font-weight: 900;
  font-size: 0.8rem;
}

@media screen and (max-width: 800px){
  .main-image {
    display: none;
  }
  .disclaimer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    text-wrap: nowrap;
  }

  .signup-content{
    width: 100%;
    max-width: 500px;
  }
  .call-action {
  }
  .campo {
    min-width: 150px;
  }
  form {
    align-items: ;
    gap: 12px;
  }
  .campos {
    gap: 12px;
    flex-grow: 1;
  }
  :root {
    font-size: 15px;
  }
}
